footer.layout__max
  img.sponsors(src="/images/sponsors.png", width="1024", height="80")
  ul
    each code in config.languages
      - var label = data.shared.languages[lang][code]
      li
        if lang === code
          span(title=label)= code.toUpperCase()
        else
          a(href="/#{code}/#{page.path.substr(4)}", title=label)= code.toUpperCase()