header.header
  .layout__max
    +logoWrap
      a.logo__link(href="/#{lang}/")
        img.logo__img(src="/images/logo.png", width="477", height="150", alt=data.index[lang].title)

    ul.social-bar
      each url, name in config.socialUrls
        li.social-bar__item
          a.social-bar__link(href=url)
            +icon(name, 'social-bar__icon')
            | #{data.shared.social[name]}
            