// Wrap the logo with the appropriate element
mixin logoWrap
  if isIndex
    h1.logo: block
  else
    .logo: block

// Output an SVG icon
mixin icon(name, classes)
  svg.icon(class=classes)
    use(xlink:href="#icon-#{name}")

mixin widget(entry)
  p= entry.fields.label
