nav.nav.layout__max
  ul.nav__list
    li.nav__item.nav__item--icon
      a.nav__link(class={ 'nav__link--current': page.isHome }, href="/#{lang}/", title="Home")
        +icon('home', 'nav__icon')
    each item in ['band', 'discography', 'media', 'shop']
      li.nav__item
        a.nav__link(class={ 'nav__link--current': page.crumbs[0] === item }, href="/#{lang}/#{item}")
          = data[item][lang].title
    li.nav__item.nav__item--icon
      a.nav__link(class={ 'nav__link--current': page.crumbs[0] === 'contact' }, href="/#{lang}/contact", title="Contact")
        +icon('contact', 'nav__icon')