extends layout.pug

block content
  main.main.layout__max
    section.banner.widget.clearfix
      .banner__inner
        h2.banner__heading.widget__heading
          | 404
          strong.kenotic-divider= d.title
