-
  // Return the URL slug of a page given its name
  function getSlug(name) {
    return name === 'index' ? '' : name;
  }
  
  // Translate a value with a dictionary
  // Useful for translating fields displayed as drop-down menus in Contentful
  function translate(value, dict) {
    if (dict && dict[value]) {
      return dict[value];
    }
      
    return value;
  }
  
  // Find entries by the value of one of their fields
  function findEntries(entries, field, value) {
    return entries.filter(function (entry) {
      return entry[field] === value;
    });
  }
  
  // Retrieve the localised content of a section by name
  function getSection(name) {
    return findEntries(contentful.sections, 'name', name)[0][lang];
  }
  