// Import functions and mixins
include partials/_functions
include partials/_mixins

//- Initialise the page object and alias some common info
- var page = initPage(_path);
- var lang = page.lang;
- var d = page.data;

doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    title= d.title + ' | ' + (d.titleSuffix || 'Benighted Soul')
    meta(name="description", content=(d.description || ''))
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //link rel="apple-touch-icon-precomposed" href="/favicon-196.png" />
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:400|Open+Sans")
    != css('/')
  body
    .symbols
      include partials/_icons.svg
    
    include partials/_header
    include partials/_nav
    
    main.main.layout__max
      .main__inner
        unless page.isHome
          h1= d.title
        block content
      
    include partials/_footer    
    script(src="/js/build.js")
    