//- Get the language and name of the page from its path
- matches = /(en|fr)\/([a-z]+)/.exec(_path)
- lang = matches ? matches[1] : 'en'
- name = matches ? matches[2] : 'index'

//- Retrieve the page's data
- page = data[lang][name]

doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    title= page.title
    meta(name="description", content="{{ meta.description }}")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //link rel="apple-touch-icon-precomposed" href="/favicon-196.png" />
    != css('/')
  body
    block content
    script(src="/assets/js/build.js")
    