/**
 * Members
 */
.members {
  line-height: 1.3;
  
  &__list {
    @media (--bp-lge) {
      flex-wrap: nowrap;
      flex-direction: column;
      margin: 1rem 0 0;
    }
  }
}

.member {
  width: 50%;
  
  &__inner {
    max-width: 216px;
  }
  
  &__content {
    margin-top: .5rem;
    text-align: center;
  }
  
  &__name {
    display: block;
  }
  
  @media (--bp-sml) {
    width: 33.33%;
  }
  
  @media (--bp-lge) {
    width: 100%;
    padding: 0;
  
    &__name {
      font-size: 1.1rem;
    }
  }
}

/**
 * Biography
 */
.bio {
  @media (--bp-lge) {
    margin-right: 2rem;
  }
}
