
/**
 * Studio albmus
 */
.albums {
  &__list {
    margin: 0 0 3rem;
    padding: 0;
    list-style: none;
  }
}

.album {
  margin: 2rem 0;
  
  & + & {
    padding-top: 2rem;
    border-top: 1px solid var(--col-accent-half);
  }
  
  &__link-cover {
    display: block;
    width: 380px;
    max-width: 100%;
    margin-bottom: .5rem;
  }
  
  &__content {
    margin-bottom: 2rem;
  }
  
  &__heading {
    font-size: 1.8rem;
  }
  
  &__link {
    color: inherit;
    text-decoration: none;
    
    &:hover {
      /*text-decoration: underline;*/
    }
  }
  
  &__buttons {
    margin: 1rem 0;
  }
  
  &__button {
    margin: .5rem 1rem .5rem 0;
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  &__credits {
    font-size: .72rem;
    font-size: .75rem;
  }
  
  @media (--bp-x-med) {
    &__link-cover {
      float: left;
      width: 250px;
      margin-right: 1rem;
      margin-bottom: 1.5rem;
    }
    
    &__heading {
      margin-top: 0;
    }
    
    &__buttons {
      margin: 1.25rem 0;
      font-size: .8rem;
    }
    
    &__button {
      margin: .25rem .5rem .25rem 0;
    }
  
    &__content {
      margin-bottom: 0;
    }
    
    &__credits {
      clear: left;
    }
  }
  
  @media (--bp-lge) {
    display: flex;
  
    & + & {
      padding-top: 0;
      border-top: none;
    }
    
    &__link-cover {
      flex: 0 0 auto;
      float: none;
      width: 380px;
      margin-right: 1.5rem;
      margin-bottom: 0;
    }
    
    &__buttons {
      margin: 1rem 0;
      font-size: 1rem;
    }
    
    &__button {
      margin: .5rem 1rem .5rem 0;
    }
  }
}

/**
 * Special edition
 */
.special {
  clear: left;
  margin: 1rem 0 1.5rem;
  padding: 1rem;
  background-color: var(--col-accent-subtle);
  border-left: 5px solid var(--col-accent);
  
  & > p {
    margin: 0;
  }
}

/**
 * Other releases
 */
.release {
  width: 50%;
  
  &__link {
    display: block;
    max-width: 200px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    
    &:hover .release__title {
      /*text-decoration: underline;*/
    }
  }
  
  &__content {
     margin-top: .5rem;
  }
  
  &__title {
    display: block;
    font-size: 1.1rem;
  }
  
  &--dvd {
    .release__cover {
      background-color: var(--col-accent-subtle);
    }
    
    .release__img {
      width: 70%;
      margin: 0 auto;
    }
  }
  
  @media (--bp-med) {
    width: 25%;
  }
  
  @media (--bp-lge) {
    &__title {
      font-size: 1.2rem;
    }
  }
}
