/**
 * Studio albums (also used on Shop page)
 */
.album {
  margin: 1.5rem 0 2.5rem;
  
  & + & {
    padding-top: 2rem;
    border-top: 1px solid var(--col-accent-half);
  }
  
  &__cover {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0;
  }
  
  &__content {
    margin-bottom: 2rem;
  }

  /* only show mobile heading (above album cover) */
  &__heading--two {
    display: none;
  }
  
  &__buttons {
    margin: 1rem -.5rem 1rem 0; /* compensate for right margin on links */
    font-size: .85rem;
  }
  
  &__button {
    margin: .25rem .5rem .25rem 0;
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  &__credits {
    font-size: .72rem;
    font-size: .75rem;

    & > p {
      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }
    }
  }

  &--shop {
    .album__buttons {
      margin: .5rem -.5rem .5rem 0;
    }

    .album__button {
      margin: 0 .5rem .5rem 0;
    }
  }

  @media (--bp-sml) {
    &__cover {
      float: left;
      width: 150px;
      max-width: none;
      margin: .25rem 1rem 1rem 0;
    }
    
    &__heading {
      margin-top: 0;

      /* swap headings */
      &--one { display: none; }
      &--two { display: block; }
    }
    
    &__buttons {
      clear: left;
      margin: 1.25rem 0;
    }
    
    &__content {
      margin-bottom: 0;
    }
    
    &__credits {
      clear: left;
    }
  }
  
  @media (--bp-sml) and (max-width: 44.99em) {
    &--shop {
      .album__cover {
        width: 200px;
      }
    }
  }

  @media (--bp-x-med) {
    &--shop {
      .album__buttons {
        clear: none;
      }
    }
  }
  
  @media (--bp-med) {
    &__cover {
      width: 250px;
    }

    &__buttons {
      clear: none;
    }
  }

  @media (--bp-lge) {
    display: flex;
    align-items: flex-start;
  
    & + & {
      padding-top: 0;
      border-top: none;
    }
    
    &__cover {
      flex: 0 0 auto;
      float: none;
      width: 380px;
      margin-right: 1.5rem;
      margin-bottom: 0;
    }
    
    &__buttons {
      margin: 1rem 0;
      font-size: 1rem;
    }
    
    &__button {
      margin: .5rem 1rem .5rem 0;
    }
  }
}

/**
 * Special edition
 */
.special {
  clear: left;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  background-color: var(--col-accent-subtle);
  border-left: 5px solid var(--col-accent);
  
  & > p {
    margin: 0;
  }
}

/**
 * Other releases
 */
.release {
  width: 50%;
  max-width: 150px;
  text-align: center;
  
  &__content {
     margin-top: .5rem;
  }
  
  &__title {
    display: block;
    font-size: 1.1rem;
  }
  
  &--dvd {
    .release__cover {
      background-color: var(--col-accent-subtle);
    }
    
    .release__img {
      width: 70%;
      margin: 0 auto;
    }
  }
  
  @media (--bp-med) {
    width: 25%;
    max-width: none;
  }
  
  @media (--bp-lge) {
    &__title {
      font-size: 1.2rem;
    }
  }
}
