/**
 * Header.
 */
.header {
  @media (--bp-lge) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/**
 * Logo.
 */
.logo {
  margin: 1rem 0;
  
  &::before {
    content: none;
  }
  
  &__link {
    display: block;
    max-width: 477px;
    margin: 0 auto;
  }
  
  @media (--bp-lge) {
    margin: 2.5rem 3rem 2.5rem 0;
  }
}

/**
 * Social bar with icons and labels.
 */
.social {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  
  &__item {
    margin: 0 .1rem;
  }
  
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: .3rem;
    background-color: transparent;
    color: inherit;
    font-size: .65rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .3s ease, color .3s ease;
    
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
  
  &__icon {
    display: block;
    width: 80%;
    height: 80%;
    margin: 0 auto .1rem;
    
    &--smaller {
      width: 75%;
      height: 75%;
    }
  }
  
  &__label {
    display: none;
  }
  
  @media (--bp-x-sml) {
    &__item {
      margin: 0 .2rem;
    }
    
    &__link {
      width: 4.2rem;
      height: 4.2rem;
    }
    
    &__icon {
      width: 65%;
      height: 65%;
      
      &--smaller {
        width: 60%;
        height: 60%;
      }
    }
    
    &__label {
      display: inline;
      font-size: .65rem;
    }
  }
  
  @media (--bp-x-med) {
    &__link {
      width: 4.8rem;
      height: 4.8rem;
    }
    
    &__icon {
      width: 60%;
      height: 60%;
      
      &--smaller {
        width: 55%;
        height: 55%;
      }
    }
    
    &__label {
      font-size: .7rem;
    }
  }
  
  @media (--bp-lge) {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 15.6rem;
    
    &__item {
      margin: .2rem .2rem;
    }
  }
}

/**
 * Language switcher
 */
.languages {
  margin: 0 .1rem;
  padding: .1rem;
  
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    padding: 0 .5rem;
    list-style: none;
    line-height: 1.2;
    text-align: center;
    background-color: var(--col-accent-subtle);
    border-radius: .3rem;
  }
  
  &__link {
    display: block;
    
    &--current {
      font-weight: bold;
    }
  }
  
  @media (--bp-x-sml) {
    margin: 0 .2rem;
    padding: .2rem;
    
    &__list {
      width: 3.8rem;
      height: 3.8rem;
      line-height: inherit;
    }
  }
  
  @media (--bp-x-med) {
    padding: .3rem;
    
    &__list {
      width: 4.2rem;
      height: 4.2rem;
    }
  }
  
  @media (--bp-x-med) {
    margin: .2rem .2rem;
  }
}
