
/**
 * Social bar with icons and labels.
 */
.social-bar {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
  
  &__item {
    flex: 1;
    margin: 0 .5rem;
  }
  
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: .3rem;
    background-color: transparent;
    color: inherit;
    font-size: .75rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .3s ease, color .3s ease;
    
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
  
  &__icon {
    display: block;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
  }
}


/**
 * Nav bar.
 */
.nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  
  &__item {
    flex: 1;
  }
  
  &__link {
    display: block;
    background-color: #000;
    color: #fff;
    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s ease, color .3s ease;
    
    &:hover {
      background-color: transparent;
      color: #000;
    }
  }
}

