/**
 * Widget
 */
.widget {
  background-color: var(--col-accent-subtle);
  margin-bottom: 1.5rem;
  
  &.two-column__main {
    margin-right: 1.5rem;
  }
}

/**
 * Banner
 */
.banner {
  padding: 2.5rem 2rem 12rem 43%;
  background-image: url(/images/covers/kenotic-bird.png);
  background-repeat: no-repeat;
  background-position: top -50px left -250px;
  background-size: 100% auto;
  
  &__heading {
    &::before {
      content: none;
    }
  }
  
  &__cta {
    margin: 2.5rem 0;
  }
}

/**
 * Facebook feed
 */
.fb-feed {
  width: 400px;
}
