/**
 * Widget
 */
.widget {
  background-color: var(--col-accent-subtle);
  margin-bottom: 1.5rem;
  overflow: hidden;
  
  &__heading {
    &::before {
      content: none;
    }
    
    &--sub {
      margin: 1rem 1rem .5rem;
      font-size: 1.5rem;
    }
  }
  
  @media (--bp-lge) {
    &--left-col {
      margin-right: 1.5rem;
    }
  }
}

/**
 * Banner
 */
.banner {
  padding: 2.5rem 2rem 12rem 42%;
  background-image: url(/images/covers/kenotic-bird.png);
  background-repeat: no-repeat;
  background-position: top -50px left -250px;
  background-size: 100% auto;
  
  &__cta {
    margin: 2.5rem 0;
  }
}

/**
 * Kenotic music videos
 */
.kenotic-clips {
  &__title {
    margin: .5rem 1rem .75rem;
    font-family: var(--font-serif);
    font-size: 1.2rem;
    font-style: italic;
    font-weight: normal;
    text-align: center;
  }
  
  @media (--bp-x-med) {
    &__chapters {
      display: flex;
    }
    
    &__chapter {
      width: 50%;
      
      &:first-child {
        border-right: 1px solid transparent;
      }
      
      &:last-child {
        border-left: 1px solid transparent;
      }
    }
    
    &__video {
      margin: 0;
    }
  }
}

/**
 * Facebook feed
 */
.fb-feed {
  width: 380px;
  
  &__loading {
    max-width: 10rem;
    margin: 4rem auto;
    text-align: center;
    font-size: .9rem;
  }
  
  &__spinner {
    margin: 2rem auto;
  }
}
