/**
 * Widget
 */
.widget {
  background-color: var(--col-accent-subtle);
  margin-bottom: 1.5rem;
  overflow: hidden;
  
  &__heading {
    &::before {
      content: none;
    }
    
    &--sub {
      margin: 1rem;
      font-size: 1.6rem;
    }
  }
  
  @media (--bp-lge) {
    &--left-col {
      margin-right: 1.5rem;
    }
  }
}

/**
 * Banner
 */
.banner {
  padding: 2.5rem 2rem 12rem 42%;
  background-image: url(/images/covers/kenotic-bird.png);
  background-repeat: no-repeat;
  background-position: top -50px left -250px;
  background-size: 100% auto;
  
  &__cta {
    margin: 2.5rem 0;
  }
}

/**
 * Widget videos
 */
.widget-clips {
  &__title {
    margin: 0 1rem .75rem;
    font-family: var(--font-serif);
    font-size: 1.2rem;
    font-style: italic;
    font-weight: normal;
    text-align: center;
  }
  
  &__soon {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    
    & > p {
      padding: .5rem 0;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  }
  
  @media (--bp-x-med) {
    &__chapters {
      display: flex;
    }
    
    &__chapter {
      width: 50%;
      
      &:first-child {
        border-right: 1px solid transparent;
      }
      
      &:last-child {
        border-left: 1px solid transparent;
      }
    }
    
    &__video {
      margin: 0;
    }
  }
}

/**
 * Widget live
 */
.widget-live {
  &__inner {
    display: flex;
  }
  
  &__content {
    padding: 0 1rem;
    
    & > p:first-child {
      margin-top: 0;
      font-size: 1.1rem;
    }
  }
  
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  &__item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--col-accent-subtle);
    border-left: 5px solid var(--col-accent);
    
    & > p {
      margin: 0;
    }
  }
  
  &__date {
    margin-right: 1rem;
  }
  
  &__location {
    & > strong {
      display: block;
    }
  }
}

/**
 * Date
 */
.date {
  font-weight: bold;
  
  &__day {
    padding-top: .2rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  &__label {
    line-height: 1.2;
    font-size: 1.2rem;
    
    & > sup {
      margin-left: .1rem;
      font-size: .8rem;
    }
  }
}

/**
 * Facebook feed
 */
.fb-feed {
  position: relative;
  width: 380px;
  min-height: 660px;
  
  &__loading {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10rem;
    max-width: 10rem;
    margin: 3rem 0 0 -5rem;
    text-align: center;
    font-size: .9rem;
  }
  
  &__spinner {
    margin: 2rem auto;
  }
}
