/**
 * Nav bar.
 */
.nav {
  padding: 0;
  
  &__list {
    max-width: 22rem;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
    
    @media (--bp-sml) {
      max-width: none;
      margin: 0 -1px;
    }
    
    @media (--bp-x-med) {
      display: flex;
    }
  }
  
  &__item {
    display: inline-block;
    margin: 3px 1px;
    
    @media (--bp-x-med) {
      flex: 5;
      display: block;
      margin: 0 1px;
      
      &--icon {
        flex: 2;
      }
    }
  }
  
  &__link {
    display: flex;
    justify-content: center;
    padding: .3rem .5rem;
    background-color: #000;
    color: #fff;
    font-family: var(--font-heading);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s ease, color .3s ease;
    
    &:not(&--current):hover {
      background-color: var(--col-accent-subtle);
      color: #000;
    }

    &--current {
      background-color: var(--col-accent);
      color: #fff;
    }
    
    @media (--bp-sml) {
      font-size: .9rem;
      
      &--current {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -6px;
          left: 50%;
          margin-left: -3px;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid var(--col-accent);
          transition: border-top-color .3s ease;
        }
      }
    }
    
    @media (--bp-x-med) {
      font-size: 1rem;
    }
    
    @media (--bp-x-lge) {
      font-size: 1.2rem;
    }
  }
  
  &__icon {
    height: 1.5rem;
  }
  
  @media (--bp-x-med) {
    padding: 0 .5rem;
  }
}
