/**
 * Nav bar.
 */
.nav {
  line-height: 1.4;
  padding: 0 .5rem;
  
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  &__item {
    flex: 5 1 33.33%;
    display: flex;
    align-items: stretch;
    margin: 1px;
    
    &--icon {
      flex: 2;
    }
  }
  
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .3rem .5rem;
    background-color: #000;
    color: #fff;
    font-family: var(--font-heading);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .15s ease, color .15s ease;
    white-space: nowrap;
    
    &:hover,
    &--current {
      background-color: var(--col-accent);
      color: #fff;
    }
  }
  
  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 .5rem;
  }
  
  @media (--bp-sml) {
    &__list {
      flex-wrap: nowrap;
    }

    &__link {
      font-size: .9rem;
      
      &--current {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -6px;
          left: 50%;
          margin-left: -3px;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid var(--col-accent);
          transition: border-top-color .3s ease;
        }
      }
    }
    
    &__icon {
      width: 1.1rem;
      height: 1.1rem;
    }
  }
  
  @media (--bp-x-med) {
    &__link {
      font-size: 1rem;
    }
    
    &__icon {
      height: 1.25rem;
      width: 1.25rem;
    }
  }
  
  @media (--bp-lge) {
    &__link {
      font-size: 1.2rem;
    }
    
    &__icon {
      height: 1.45rem;
      width: 1.45rem;
    }
  }
}
