
/**
 * Site variables
 */
:root {
  /* Fonts */
  --font-text: 'Open Sans', 'Arial', sans-serif;
  --font-heading: 'Quicksand', 'Helvetica', 'Arial', sans-serif;
  --font-serif: 'Georgia', 'Times', 'Times New Roman', serif;
  
  /* Accent colour */
  --col-accent: rgb(52, 58, 78);
  --col-accent-half: rgba(52, 58, 78, .5);
  --col-accent-subtle: rgba(52, 58, 78, .1);
  --col-accent-dark: rgb(33, 35, 44);
  
  /* Success colour */
  --col-success: rgb(51, 77, 51);
  --col-success-subtle: rgba(51, 77, 51, .1);
  
  /* Grid layout gutters */
  --gutter-sml: .25rem;
  --gutter-med: .5rem;
  --gutter-lge: 1rem;
}


/**
 * Breakpoints
 */
@custom-media --bp-x-sml (min-width: 25em);
@custom-media --bp-sml (min-width: 30em);
@custom-media --bp-x-med (min-width: 40em);
@custom-media --bp-med (min-width: 45em);
@custom-media --bp-x-lge (min-width: 55em);
@custom-media --bp-lge (min-width: 60em);


/**
 * Global styles
 */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 90%;
  line-height: 1.6;
  
  @media (min-width: 30em) {
    font-size: 100%;
  }
}

body {
  background: url(/images/bg.jpg); /* subtlepatterns.com */
  color: #000;
  font-family: var(--font-text);
}

h1,
h2 {
  margin: 1.5rem 0;
  font-family: var(--font-heading);
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: -.02em;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  font-size: 2rem;
  white-space: nowrap;
  
  &::before {
    content: "> ";
  }
  
  @media (--bp-x-med) {
    font-size: 2.5rem;
  }
  
  @media (--bp-lge) {
    font-size: 3rem;
  }
}

h2 {
  margin-top: 3rem;
  font-size: 1.6rem;
  
  h1 + section > & {
    margin-top: 0;
  }
  
  &::before {
    content: ">>";
    letter-spacing: -2px;
    margin-right: 1rem;
  }
  
  @media (--bp-x-med) {
    font-size: 1.75rem;
  }
  
  @media (--bp-lge) {
    font-size: 2rem;
  }
}

h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

/* fancy H3 */
.h3 {
  margin-top: 0;
  font-family: var(--font-heading);
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -.02em;
  text-transform: uppercase;

  @media (--bp-x-lge) {
    font-size: 1.75rem;
  }
}

a,
button {
  color: var(--col-accent);
}

a:hover {
  text-decoration: none;
}

a:focus,
button:focus {
  outline: 1px dashed #333;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

blockquote {
  quotes: "“" "”";
}

.icon {
  max-width: 100%;
  fill: currentColor;
}

.clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  
  &::after {
    clear: both;
  }
}

/**
 * Layout
 */
.layout{
  &__max {
    margin: 0 auto;
    
    @media (--bp-med) {
      max-width: 50em;
    }
    
    @media (--bp-lge) {
      max-width: 65em;
    }
  }
}

/**
 * Main
 */
.main {
  &__inner {
    background-color: var(--col-accent-subtle);
    padding: 2rem 1rem;
  }
  
  @media (--bp-x-med) {
    padding: 0 .5rem;
    
    &__inner {
      margin-bottom: .5rem;
      padding: 2.5rem 2rem;
    }
  }
}

/**
 * Two-column layout (main + sidebar)
 */
.two-column {
  @media (--bp-lge) {
    display: flex;
    align-items: flex-start;
    
    &--reverse {
      flex-direction: row-reverse;
    }
    
    &__main {
      flex: 1;
    }
  }
}

/**
 * Grid layout with Flexbox
 */
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -var(--gutter-sml);
  padding: 0;
  
  &__item {
    padding: 0 var(--gutter-sml) var(--gutter-med);
  }
  
  @media (--bp-med) {
    margin: 0 -var(--gutter-med);
    
    &__item {
      padding: 0 var(--gutter-med) var(--gutter-lge);
    }
  }
}

/**
 * Big, call-to-action button
 */
.button {
  margin: 1.5rem 0;
  font-size: 1rem;
  
  &--centered {
    text-align: center;
  }
  
  &--youtube { margin: 3rem 0 4rem; }
  &--instagram { margin: 2rem 0 3rem; }
  
  &__link {
    display: inline-block;
    padding: .5rem .65rem;
    border: 2px solid #000;
    border-radius: .3rem;
    background-color: #f0f0f0;
    color: #000;
    font-family: var(--font-heading);
    font-size: 100%;
    font-weight: bold;
    letter-spacing: -.05em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &::after {
      content: " →";
      font-size: 125%;
      line-height: 1;
    }
    
    &:hover {
      border-color: var(--col-accent-dark);
      background-color: var(--col-accent);
      color: #fff;
    }
  }

  @media (--bp-med) {
    &__link {
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }
}

/**
 * Quote
 */
.quote {
  margin: 1rem 0;
  line-height: 1.4;
  overflow: hidden;
  
  &__text {
    display: inline;
    margin: 0;
    font-family: var(--font-serif);
    font-size: 1.2em;
    font-style: italic;

    &::before {
      content: open-quote;
      margin-right: .1em;
    }

    &::after {
      content: close-quote;
    }
  }
  
  &__cite {
    font-style: normal;
    font-weight: bold;
    line-height: 1.68; /* match quote text: 1.4 * 1.2em */
    white-space: nowrap;
    
    &::before {
      content: " — ";
    }
  }

  @media (--bp-sml) {
    font-size: .9rem;

    &--short {
      font-size: 1rem;
    }
  }

  @media (--bp-med) {
    font-size: 1rem;
    
    &--short {
      font-size: 1.2rem;
      line-height: 1.5;

      .quote__cite {
        line-height: 1.8;
      }
    }
  }
}

/**
 * Divider
 */
.divider{
  color: #1a1a1a;

  &::before {
    content: "|";
    position: relative;
    top: -.11rem;
    margin: 0 .8rem;
    font-size: 82%;
  }
}

/**
 * Video
 */
.video {
  position: relative;
  height: 0;
  margin: 1rem 0;
  padding-bottom: 56.25%;
  
  &__preview,
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
  }
  
  &__preview {
    opacity: 1;
    z-index: 1;
    padding: 0;
    border: 0;
    background-position: center;
    background-size: cover;
    transition: opacity .7s ease;
    
    /* Hide button label from view */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 4rem;
      height: 3rem;
      margin-top: -1.5rem;
      margin-left: -2rem;
      border-radius: .6rem;
      background-color: rgba(30, 30, 30, .7);
      transition: background-color .1s ease;
    }
    
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -.65rem;
      margin-left: -.5rem;
      border-left: 1.2rem solid #eee;
      border-right: 0 solid #eee;
      border-top: .65rem solid transparent;
      border-bottom: .65rem solid transparent;
    }
    
    &:not(&--loading):hover {
      &::before {
        background-color: #cc181e;
      }
    }
    
    &--loading {
      opacity: 0;
      pointer-events: none;
    }
  }
}
