
/**
 * Site variables.
 */
:root {
  --font-text: 'Open Sans', sans-serif;
  --font-heading: 'Quicksand', sans-serif;

  --col-primary: rgb(0, 0, 0);
  --col-primary-80: rgba(0, 0, 0, 0.8);

  --col-secondary: rgb(52, 58, 78);
  --col-secondary-80: rgba(52, 58, 78, 0.8);
  --col-secondary-20: rgba(52, 58, 78, 0.2);
}


/**
 * Breakpoints.
 */
@custom-media --bp-x-sml (min-width: 25em);
@custom-media --bp-sml (min-width: 30em);
@custom-media --bp-x-med (min-width: 40em);
@custom-media --bp-med (min-width: 45em);
@custom-media --bp-x-lge (min-width: 55em);
@custom-media --bp-lge (min-width: 60em);


/**
 * Global styles.
 */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 90%;
  
  @media (min-width: 30em) {
    font-size: 100%;
  }
}

body {
  background: url(/images/bg.jpg); /* subtlepatterns.com */
  font-family: var(--font-text);
}

h1, h2, h3 {
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
}

h2, h3 {
  font-size: 2rem;
}

a:focus,
button:focus {
  outline: 1px dashed #333;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.symbols {
  display: none;
}

.icon {
  max-width: 100%;
  fill: currentColor;
}


/**
 * Layout
 */
.layout{
  &__max {
    margin: 0 auto;
    padding: 0 .5rem;
    
    @media (--bp-med) {
      max-width: 45em;
    }
    
    @media (--bp-lge) {
      max-width: 65em;
    }
  }
}

