extends ../layout

block content
  ul
    each member in contentful.members
      li
        img(src!=asset(member.photo), alt=member.pseudo)
        p: strong= member.name
        p= member[lang + 'Role']
  
  != config.marked(getSection('Biography'))