extends ../layout

block content
  ul
    each member in contentful.members
      li
        img(src=member.photoUrl, alt="Jay")
        p: strong= member.name
        p= member[lang + 'Role']
  
  != config.marked(getSection('Biography'))