extends ../layout.pug

block content
  .two-column.two-column--reverse

    aside.members.two-column__sidebar
      ul.members__list.flex-grid
        each member in contentful.members
          li.member.flex-grid__item(itemprop="member", itemscope, itemtype="http://schema.org/Person")
            .member__inner
              img.member__img(src!=asset(member.photo), alt=member.pseudo, itemprop="image")
              p.member__content
                strong.member__name(itemprop="name")= member.name
                |
                span(itemprop="jobTitle")= member[lang + 'Role']

    article.bio.two-column__main(itemprop="description")
      != config.marked(getSection('Biography'))
