extends ../layout

block content
  != config.marked(getSection('Contact intro'))
  form(name="contact", action="thank-you", netlify)
    fieldset
      div
        label(for="name")= d.form.name
        input#name(name="name", type="text")
      div
        label(for="email")= d.form.email
        input#email(name="email", type="text")
      div
        label(for="message")= d.form.message
        textarea#message(name="message")
    button= d.form.send