extends ../layout

block content
  main.main.layout__max
    //-  - var homepage = contentful.homepages[0]
    //-  
    //-  case homepage.layout
    //-    when 'simple'
    //-      each widget in homepage.widgets
    //-        +widget(widget)
    
    section.banner.widget
      h2.banner__heading Kenotic
        strong.kenotic-divider Bonus Edition 2015
      p 
        | New 
        strong digital release
        |  with 
        strong 2 bonus tracks
        | .
      .button.banner__cta
        a.button__link(href="") Download it now
  
    div.two-column
      section.widget.two-column__main
        h2 Kenotic 
          span | 
          | Music video
        div
          h3 Chapter 1 - 
            strong Halcyon Days
          .video
            //iframe.video__iframe(width="640", height="360", src="https://www.youtube.com/embed/wjbkqMicYz4?rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)
        div
          h3 Chapter 2 - 
            strong Lorem Ipsum
          p D-21
          
      aside.fb-feed.widget
        #fb-root
        .fb-feed__loading(hidden)
          img.fb-feed__spinner(src="/images/spinner.png", alt="", width="100", height="100")
          p= d.text.fbLoading
        .fb-feed__feed.fb-page(data-href="https://www.facebook.com/benightedsoul", data-width="400", data-height="700", data-show-facepile="false", data-show-posts="true")
          .fb-xfbml-parse-ignore
    