extends ../layout

block content
  main.main.layout__max
    //-  - var homepage = contentful.homepages[0]
    //-  
    //-  case homepage.layout
    //-    when 'simple'
    //-      each widget in homepage.widgets
    //-        +widget(widget)
    
    section.banner.widget
      h2.widget__heading Kenotic
        strong.kenotic-divider Bonus Edition 2015
      p 
        | New 
        strong digital release
        |  with 
        strong 2 bonus tracks
        | .
      .button.banner__cta
        a.button__link(href="") Download it now
  
    div.two-column
      .two-column__main
        section.kenotic-clips.widget.widget--left-col
          h2.widget__heading.widget__heading--sub Music video
            strong.kenotic-divider Kenotic
          div.kenotic-clips__chapters
            div.kenotic-clips__chapter
              h3.kenotic-clips__title Chapter 1 - 
                strong Halcyon Days
              .video.kenotic-clips__video
                iframe.video__inner(width="640", height="360", src="https://www.youtube.com/embed/wjbkqMicYz4?rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)
            div.kenotic-clips__chapter
              h3.kenotic-clips__title Chapter 2 - 
                strong Lorem Ipsum
              .video.kenotic-clips__video
                .video__inner
                  p D-21
            
        section.widget.widget--left-col
          h2.widget__heading.widget__heading--sub Live
            strong.kenotic-divider Craddle of Filth
          
          
      aside.fb-feed.widget
        #fb-root
        .fb-feed__loading(hidden)
          img.fb-feed__spinner(src="/images/spinner.png", alt="", width="100", height="100")
          p= d.text.fbLoading
        .fb-feed__feed.fb-page(data-href="https://www.facebook.com/benightedsoul", data-width="380", data-height="550", data-show-facepile="false", data-show-posts="true", data-hide-cta="true")
          .fb-xfbml-parse-ignore
    